  <script>
  $(document).ready(function(){
  	$('.submit_button').click(function(e){
	e.preventDefault(e);
		  $.ajax({
                 url: "/comments", // Route to the Script Controller method
                type: "POST",
            dataType: "json",
                data:  { "name": "Testingcomment","description":"testdescription","author_id":1,"hotel_id":3,},
             success: function(data, textStatus, xhr) {
                    $('.testing').append(data.name);
                      },
               error: function() {
                        alert("Ajax error!")
                      }
    });
	});
  });
  </script>
  <!-- Your code here -->
 <%= debug @user %>
<%= 
if @user
render partial: "comment" 
else

end
%>
<div class="testing"></div>